@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

*{
        margin: 0;
        padding:0;
        font:inherit;
}
html{
    color-scheme: dark light;
    scroll-behavior: smooth;
}

body{
        min-height: 100vh;
        background-color: black;
}
nav{
    z-index:3;
}
header{
    background-color:rgba(0, 0, 0, 0.74);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.74);
}


div.card-icon{
    padding:0;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: center;
}
div.card-icon a{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    border-radius: 50%;
    padding: 0;
    text-decoration: none;
    height:fit-content;
    width:fit-content;
}
div.card-icon i{
    color: #23b3e4;
    width: 43px;
    height: 43px;
    font-size: 23px;
    padding:.5rem;
    border: #23b3e4 solid 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-btn{
    color:#23b3e4;
    border-color: #23b3e4;
    margin-top: 2px;
    font-weight: 500;
}
#login-btn:hover{
    color:white;
    background-color: #23b3e4;
}
#login-btn:focus{
    box-shadow: rgb(35 179 228 / 50%) 0px 0px 0px 0.25rem;
}
#login-btn:active:focus{
    color:white !important;
    /* border-color: #23b3e4 !important; */
    box-shadow: rgb(35 179 228 / 50%) 0px 0px 0px 0.25rem;
}
.photo-title{
    text-transform:uppercase;
    font-size: 2vw;
    font-family: 'Averia Serif Libre', cursive;
    padding: 0;
}
.photo-btn{
    font-size: 1.1vw;
    padding:.4vw .8vw;
    margin:0;
    background-color: rgb(226, 226, 226);
    font-weight: bold;
    border: .15vw solid;
    border-radius: .4vw;
    text-transform: uppercase;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}


.carousel-img{
    filter: grayscale(100%);
    opacity: 80%;
    height:55vw;
}
.carousel{
    display: block;
    position:relative;
}
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: 3%;
    left: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin: 0% 15%;
    list-style: none;
}
.carousel-indicators li {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 4vw;
    height: .3vw;
    margin:0 .3vw;
    text-indent: -999px;
    background-color: rgba(255,255,255,.5);
    border-radius: 400px;
}

.carousel-indicators li:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.664);
    cursor: pointer;
}
.carousel-indicators li.active{
    background-color: #fff;
}
a span.carousel-ctrl-icon{
    font-size: 4vw;
    opacity: .2;
    transition: opacity ease-in-out .5s;
}
.carousel-ctrl:hover .carousel-ctrl-icon{
    opacity: 100%;
}
a.carousel-ctrl{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    text-decoration: none;
}
a.carousel-ctrl:not(:hover):focus .carousel-ctrl-icon{
    color: #afafaf;
}
.carousel-caption{
    margin:0 !important;
}
.carousel-caption .row{
    width:67vw;
    margin: 0.4% 0.4% 5vw 0.4% !important;
}
.nav-item{
    margin: 0 12px;
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: 20px;
}
.nav-item a{
    transition: color ease-in-out .3s;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.nav-item a::before{
    position:absolute;
    content: attr(data-content);
    top:40;
    left:1;
    color:#23b3e4 !important;
    overflow: hidden;
    transition: width 0.45s linear;
    transition-delay: 0.1s;
    width:0;
    white-space: nowrap;
    text-decoration: underline #23b3e4;
}
a.nav-link:hover, a.nav-link:focus{
    color: rgba(255,255,255,.55) !important;
}
a.nav-link:hover::before,a.nav-link:focus::before{
    width:100%;
}
a.nav-link:hover::after,a.nav-link:focus::after{
    border-color:#23b3e4 transparent transparent transparent;
}
li.nav-item.active a.nav-link{
    color:#23b3e4;
    font-weight: 600;
}
.btn{
    border-radius: 500px;
    transition: color ease-in-out 0.3s,
                background-color ease-in-out 0.3s,
                border-color ease-in-out 0.3s;
}
 .dropdown-item{
    text-align: center;
}

.navbar-brand{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #23b3e4 !important;
    position: relative;
    /* margin-left: 70px !important; */
    /* margin-top: 20px !important; */
    /* text-transform: uppercase; */
    /* letter-spacing: 6px; */
    /* background: -webkit-linear-gradient(left,white, #23b3e4);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    --fa-animation-duration: 4s; */
    font-weight: 600;
}
.name-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* background-color: white; */
    height: 90%;
}
.logo{
    z-index:2;
    font-family: 'Poppins', sans-serif;
    font-size:5vw;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0px;
    --fa-animation-duration: 4s; 
    font-weight: 600;
    backdrop-filter: contrast(30%);
    padding:.5vw 1vw .5vw 0vw;
    border-radius: 5px;
    margin-right: 0 ;
    transform: rotate('90deg');
    transition: border-radius ease-in-out .3s .01s;

}
.logo span{
    content:"Matias";
    color:#3dbde7;
    letter-spacing: 0px;
    padding:.5vw 0 .5vw 1vw ;
    margin-right:2px ;
    
}
.logo::after{
    position:absolute;
    width: 100%;
    height: 122%;
    content:'';
    z-index:2;
    top: -11%;
    bottom: 0;
    right: auto;
    left: 0;
    border-left:4px solid #23b3e4;
    border-right:4px solid #23b3e4;
    border-radius: 5px;
    transition: width ease-in-out .3s,
                left ease-in-out .3s;
    
    
}
.logo::before{
    position:absolute;
    width: 104%;
    height: 100%;
    content:'';
    z-index:2;
    top: 0%;
    bottom: 0;
    right: auto;
    left: -2%;
    border-top:4px  solid #23b3e4;
    border-bottom:4px  solid #23b3e4;
    border-radius: 5px;
    transition: height ease-in-out .3s,
                top ease-in-out .3s;
    
}
.logo:hover{
    border-radius: 2.3vw;
}

.logo:hover::after{
    width:98%;
    left:1%;
}
.logo:hover::before{
    height:90%;
    top:5%;
}


i.fa-terminal{
    color:#23b3e4;
    background-color: rgba(0, 0, 0, 0.342);
    padding:.4rem .8rem;
    border-radius: 10%;
    font-size:1.3rem
}

.carousel-item{
    transition: transform 1s ease-in-out;
}



.navbar-toggler{
    border:none;
    --button-color:#23b3e4;
    transition: transform .2s linear;
}
.navbar-toggler:focus:not(:focus-visible), .navbar-toggler:focus-visible{
    box-shadow: none;
}
.navbar-toggler:hover, .navbar-toggler:focus{
    transform: translateY(-5%);
    --button-color:#40caf8;
}

.navbar-toggler .line{
    transform-origin: center;
    transition: y .2s ease-in .2s,
                rotate .2s ease-in,
                opacity 0s ease-in .2s;
}

.navbar-toggler[aria-expanded='true'] .line{
    transition: y .2s ease-in,
                rotate .2s ease-in .2s,
                opacity 0s ease-in .2s;
}


.navbar-toggler[aria-expanded='true'] :is(.top, .bottom){
    y:45;
}

.navbar-toggler[aria-expanded='true'] .top{
    rotate:45deg;
}

.navbar-toggler[aria-expanded='true'] .bottom{
    rotate:-45deg;
}

.navbar-toggler[aria-expanded='true'] .middle{
    opacity:0;
}
#media-menu{
    position:absolute;
    top: 80%;
    left:auto;
    right: 110px;
    width:140px;
    backdrop-filter: blur(100px);
}

@media screen and (width<768px){
    #media-menu{
        position:fixed;
        top:23vh;
        left:100px;
        right: auto;
    }
    #media-menu.show, #media-menu.collapsing{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        width: fit-content;
    }
    div.card-icon i{
        color: #23b3e4;
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
    .dropdown-toggle::after{
        transition: vertical-align ease-in-out 0.3s,
                transform ease-in-out 0.3s,
                color ease-in-out 0.3s,
                border-color linear .1s .45s;
                transform-origin: center;
                        
    }
    .dropdown-toggle[aria-expanded='true']:after{
        vertical-align: 0.2em;
        transform: rotate(-90deg);
        color: #23b3e4;
    }
}

@media screen and (width>=768px){
    #media-menu.show, #media-menu.collapsing{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        border-radius: 40%;
    }
    .dropdown-toggle::after{
        transition: vertical-align ease-in-out 0.3s 0.2s,
                transform ease-in-out 0.3s 0.2s,
                color ease-in-out 0.3s,
                border-color linear .1s .45s;
                transform-origin: center;
                        
    }
    .dropdown-toggle[aria-expanded='true']:after{
        transform: rotateX(180deg);
        color: #23b3e4;
        vertical-align: 0.525em;
    }
}

section{
    background-color: #afafaf62;
    box-shadow: 0 0 15px #afafaf28;
}
.photo{
    position: relative;
}
.photo img{
    width:15vw;
    border-radius: 50%;
    border:2px solid #23b3e4;
    position: absolute;
    /* filter: grayscale(20%); */
    top:-4.8vw;
    left:7%;
    right:auto;
    bottom: auto;
    z-index: 2;
    box-shadow: 0 0 20px black;
}
@media screen and (width<992px) {
    .photo img{
        left:20%;
    }
}

.name-title h1{
    color:rgb(172, 171, 171);
    
}
.name-title h2{
    color:rgba(148, 147, 147, 0.753);
    font-weight: 700;
    /* white-space: nowrap; */
}
.name-title h2 span{
    margin: 0 20px;
    white-space: pre-wrap;
}

.place img.ub{
    width:90px;
    border-radius: 400px;
    border:4px solid red;
    mix-blend-mode:color;
}
.place img.pwc{
    width:80px;
    border-radius: 00px;
}
.place div{
    color:rgba(255, 255, 255, 0.685);
    font-weight: 500;
}


.other-info .info p{
    color:rgb(148, 147, 147);
    font-weight: 600;
}

.other-info .info p{
    color:rgb(148, 147, 147);
    font-weight: 600;
}

.profile-btn{
    font-size: 20px;
    border-radius: 400px;
    border-width: 2px;
    font-weight: 700;
}

@media screen and (width<=1200px){
    #more{
        /* display: flex; */
        /* align-items: center; */
        justify-content: center;
        letter-spacing: 3px;
        font-weight: 900;
        border-radius: 50% !important;
        width: 55px !important;
        height: 55px !important;
        padding-bottom: 20px !important;
    }
}