@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&family=Dancing+Script:wght@700&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

*{
        margin: 0;
        padding:0;
        font:inherit;
}

body{
        min-height: 100vh;
        background-color:rgba(0, 0, 0, 0.74);
}
html{
        color-scheme: dark light;
}

div.card-icon{
    padding:0;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: center;
}
div.card-icon a{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    border-radius: 50%;
    padding: 0;
    text-decoration: none;
    height:fit-content;
    width:fit-content;
}
div.card-icon i{
    color: #23b3e4;
    width: 43px;
    height: 43px;
    font-size: 23px;
    padding:.5rem;
    border: #23b3e4 solid 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-btn{
    color:#23b3e4;
    border-color: #23b3e4;
    margin-top: 2px;
    font-weight: 500;
}
#login-btn:hover{
    color:white;
    background-color: #23b3e4;
}
#login-btn:focus{
    box-shadow: rgb(35 179 228 / 50%) 0px 0px 0px 0.25rem;
}
#login-btn:active:focus{
    color:white !important;
    /* border-color: #23b3e4 !important; */
    box-shadow: rgb(35 179 228 / 50%) 0px 0px 0px 0.25rem;
}
.photo-title{
    text-transform:uppercase;
    font-size: 2vw;
    font-family: 'Averia Serif Libre', cursive;
    padding: 0;
}
.photo-btn{
    font-size: 1.1vw;
    padding:.4vw .8vw;
    margin:0;
    background-color: rgb(226, 226, 226);
    font-weight: bold;
    border: .15vw solid;
    border-radius: .4vw;
    text-transform: uppercase;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}


.carousel-img{
    filter: grayscale(100%);
    opacity: 80%;
    height:55vw;
}
.carousel{
    display: block;
    position:relative;
}
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: 3%;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin: 0% 15%;
    list-style: none;
}
.carousel-indicators li {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 4vw;
    height: .3vw;
    margin:0 .3vw;
    text-indent: -999px;
    background-color: rgba(255,255,255,.5);
    border-radius: 15%;
}

.carousel-indicators li:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.664);
    cursor: pointer;
}
.carousel-indicators li.active{
    background-color: #fff;
}
a span.carousel-ctrl-icon{
    font-size: 4vw;
    opacity: .2;
    transition: opacity ease-in-out .5s;
}
.carousel-ctrl:hover .carousel-ctrl-icon{
    opacity: 100%;
}
a.carousel-ctrl{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    text-decoration: none;
}
a.carousel-ctrl:not(:hover):focus .carousel-ctrl-icon{
    color: #afafaf;
}
.colbl{
    background-color: blue;
}
.col-sm-3{
    background-color:red
}

.carousel-caption{
    margin:0;
}
.carousel-caption .row{
    width:67vw;
    margin: 0.4% 0.4% 3vw 0.4%;
}
.nav-item{
    margin: 0 8px;
    display: flex;
    align-items: center;
}
.nav-item a{
    transition: color ease-in-out .3s;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.nav-item a::before{
    position:absolute;
    content: attr(data-content);
    top:40;
    left:1;
    color:#23b3e4 !important;
    overflow: hidden;
    transition: width 0.45s linear;
    transition-delay: 0.1s;
    width:0;
    white-space: nowrap;
    text-decoration: underline #23b3e4;
}
a.nav-link:hover, a.nav-link:focus{
    color: rgba(255,255,255,.55) !important;
}
a.nav-link:hover::before,a.nav-link:focus::before{
    width:100%;
}
a.nav-link:hover::after,a.nav-link:focus::after{
    border-color:#23b3e4 transparent transparent transparent;
}
.btn{
    transition: color ease-in-out 0.3s,
                background-color ease-in-out 0.3s,
                border-color ease-in-out 0.3s;
}
 .dropdown-item{
    text-align: center;
}

.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: bold;
    background: -webkit-linear-gradient(left,white, #23b3e4);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    --fa-animation-duration: 4s;
}
i.fa-terminal{
    color:#23b3e4;
    background-color: rgba(0, 0, 0, 0.342);
    padding:.4rem .8rem;
    border-radius: 10%;
    font-size:1.3rem
}

.carousel-item{
    transition: transform 1s ease-in-out;
}



.navbar-toggler{
    background-color: transparent;
    border-radius: 10%;
    border:none;
    --button-color:#23b3e4;
}
.navbar-toggler:focus:not(:focus-visible){
    box-shadow: none;
}

.navbar-toggler .line{
    transform-origin: center;
    transition: y .2s ease-in .2s,
                rotate .2s ease-in,
                opacity 0s ease-in .2s;
}

.navbar-toggler[aria-expanded='true'] .line{
    transition: y .2s ease-in,
                rotate .2s ease-in .2s,
                opacity 0s ease-in .2s;
}


.navbar-toggler[aria-expanded='true'] :is(.top, .bottom){
    y:45;
}

.navbar-toggler[aria-expanded='true'] .top{
    rotate:45deg;
}

.navbar-toggler[aria-expanded='true'] .bottom{
    rotate:-45deg;
}

.navbar-toggler[aria-expanded='true'] .middle{
    opacity:0;
}
#media-menu{
    position:absolute;
    top: 80%;
    left:auto;
    right: 100px;
    width:140px;
    backdrop-filter: blur(100px);
}

@media screen and (width<768px){
    #media-menu{
        position:fixed;
        top:23vh;
        left:100px;
        right: auto;
    }
    #media-menu.show, #media-menu.collapsing{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        width: fit-content;
    }
    div.card-icon i{
        color: #23b3e4;
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
    .dropdown-toggle::after{
        transition: vertical-align ease-in-out 0.3s,
                transform ease-in-out 0.3s,
                color ease-in-out 0.3s,
                border-color linear .1s .45s;
                transform-origin: center;
                        
    }
    .dropdown-toggle[aria-expanded='true']:after{
        vertical-align: 0.2em;
        transform: rotate(-90deg);
        color: #23b3e4;
    }
}

@media screen and (width>=768px){
    #media-menu.show, #media-menu.collapsing{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        border-radius: 40%;
    }
    .dropdown-toggle::after{
        transition: vertical-align ease-in-out 0.3s 0.2s,
                transform ease-in-out 0.3s 0.2s,
                color ease-in-out 0.3s,
                border-color linear .1s .45s;
                transform-origin: center;
                        
    }
    .dropdown-toggle[aria-expanded='true']:after{
        transform: rotateX(180deg);
        color: #23b3e4;
        vertical-align: 0.525em;
    }
}
